@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

html{
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

.display{
	box-sizing: border-box;
	margin: auto;
	box-shadow: 4px 10px 30px rgba(0,0,0,0.30);
	padding: 20px;
	width: 60%;
	border-radius: 20px;
	background-image: linear-gradient(130deg, #f8010c 0%, #f95600 25%, #f7054f 70%, #f95303 90%);
}

.socials{
	box-sizing: border-box;
	margin: auto;
	padding: 5px;
	display:block;
}

.menu{
	box-sizing: border-box;
	background-color:#e5e5e5;
	box-shadow: 4px 10px 30px rgba(0,0,0,0.30);
	border-radius:25px;
	margin: auto;
	width: 90%;
	padding: 5px;
	display: block;
}

@media only screen and (max-width:1100px){
	.display{
		width: 92%;
	}
	.menu{
		width: 97%;
  }	
}

.footer{
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  display:block;
}

.nolink{
  color: white;
  text-decoration: none;
  cursor: auto;
}