html{
    background-image: url('img/bgtexture.png');
}

@import url('https://fonts.googleapis.com/css2?family=The Bold Font:wght@500;600&display=swap');

@font-face {
	font-family: 'The Bold Font';
	src: url('files/fonts/theboldfont.ttf'); 
	src: 
		local('The Bold Font'),
		local('The Bold Font'),
		url('files/fonts/theboldfont.ttf') 
		format('truetype');
}

body{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'The Bold Font', sans-serif;
    font-size: xx-large;
}

#logo{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 40%;
    filter: drop-shadow(10px 10px 20px rgba(0,0,0,0.50));
}

.socials{
	box-sizing: border-box;
	margin: auto;
	width: 100%;
	text-align: center;
	font-family: 'The Bold Font', sans-serif;
	padding: 5px;
	display: block;
}

.footer{
    position: relative;
    box-sizing: border-box;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'The Bold Font', sans-serif;
    padding: 5px;
    display: block;
}
  
.nolink{
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: auto;
}

@media only screen  and (max-width: 1000px) {
    body{
        width: 95%;
    }
  }