html{
  overflow-x: hidden;
}

#logo{
  display: block;
  margin-left: 1vw;
  margin-right: auto;
  width: 15vw;
  filter: drop-shadow(0px 0px 10px rgb(0, 0, 0, 0.25));
  transition: 0.5s;
}

#logo:hover{
  transform: scale(104%);
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo links shop";
  width: 100%;
}

.logo{
  grid-area: logo;
}

.links{
  grid-area: links;
}

.shop{
  grid-area: shop;
  text-align: right;
}

.links_container{
  display: grid;
  text-align: center;
  margin-top: 70px;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "about contact blog";
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  color: whitesmoke;
}

.about{
  grid-area: about;
}

.contact{
  grid-area: contact;
}

.blog{
  grid-area: blog;
}


.slides{
  position: relative;
  right: -40%;
  left: auto;
	box-sizing: border-box;
	background-color:#e5e5e5;
	box-shadow: 4px 10px 30px rgba(0,0,0,0.50);
	border-radius: 25px;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	padding: 5px; 
  width: 61%;
  height: 55%;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banner{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.socials{
	box-sizing: border-box;
	margin: auto;
	width: 61%;
	text-align:right;
	font-family: 'Poppins', sans-serif;
	padding: 5px;
	display:block;
}

.menu{
	box-sizing: border-box;
	background-color:#e5e5e5;
	box-shadow: 4px 10px 30px rgba(0,0,0,0.50);
	border-radius:25px;
	margin: auto;
	width: 61%;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	padding: 5px;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dropbtn{
  background-image: rgba(0,0,0,0.00);
  color: black;
  padding: 16px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 20px;
  width: 200px;
  transition: 0.5s;
}

.footer{
  position: relative;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  display:block;
}

.nolink{
  color: white;
  text-decoration: none;
  cursor: auto;
}

@media only screen and (max-width:1100px){
	.menu, .slides{
		width: 95%;
	}
  .banner{
    width: 85%;
  }
  .socials{
    text-align: center;
  }	
}

.menu, .footer, .banners, .slides{
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1.5s;
  -moz-animation: fadeIn ease 1.5s;
  -o-animation: fadeIn ease 1.5s;
  -ms-animation: fadeIn ease 1.5s;
  }
  @keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
  }
  
  @-moz-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
  }
  
  @-webkit-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
  }
  
  @-o-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
  }
  
  @-ms-keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
  }